* {
  box-sizing: border-box
}

body {
  background-color: #0B2434;
  margin: 0;
  padding: 2rem 2rem;
  font-family: inter, arial, sans-serif;
}

.game-container {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F5F5F5;
  border-radius: 0.75rem;
  min-height: 100vh;
  width: 100%;
  overflow: auto;
  padding: 5%;
}

.die {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  filter: drop-shadow(0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.15) );
  font-size: 1.5rem;
  width: 60%;
  min-width: 40px;
  aspect-ratio: 1/1;

}

.dice-container{
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template: auto auto / repeat(5, 1fr);
  width: 100%;
  padding: 1rem 3rem;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

h2 {
  margin: 0;
}

.roll {
  background-color: #5035FF;
  border: none;
  border-radius: 0.5rem;
  color: #FFFFFF;
  cursor: pointer;
  font-family: inter, arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.25) );
  letter-spacing: 0.1rem;
  padding: 1rem 5rem;
}

.roll:active {
  transform: scale(0.98);
  box-shadow: 0.3rem 0.2rem 2rem 0.1rem rgba(0,0,0,0.24) 
}

h1 {
  font-size: 3rem;
  margin: 0
}

.instruction--heading {
  font-weight: 700;
}

.instruction--body {
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding: 1rem;
  text-align: center;
  width: 85%;
  
}
